# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.EcommerceBackend.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# .NET
[Bb]in/
[Oo]bj/

# IDEs (Rider / VS Code / Visual Studio)
.idea/
.vs/
*.user
*.userosscache
*.sln.docstates

# Copilot / Archivos temporales de IA
copilot.data.migration.*
*.xml
